name: lint

on:
  push:
  pull_request:

jobs:
  python-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install black ruff
      - name: Ruff
        run: |
          ruff check .
      - name: Black (check)
        run: |
          black --check .
